/* ==========================================================================
   H-SC Online Gift Form v1.5
   ========================================================================== */
/* ==========================================================================
   Global
   ========================================================================== */
body {
  background-color: #dbd7d7;
}
p {
    line-height: 150%;
}
footer {
    font-size: .7em;
    line-height: 150%;
}
img {
    max-width: 100%;
}
textarea {
    width: 100%;
}
/* ==========================================================================
   Header
   ========================================================================== */
.navbar {
    background: #660000 !important; /* Old browsers */ 
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #660000 0%, #660000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#660000), color-stop(100%,#660000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #660000 0%,#660000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #660000 0%,#660000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #660000 0%,#660000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #660000 0%,#660000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660000', endColorstr='#660000',GradientType=0 ); /* IE6-8 */
    border-bottom: 20px solid #d6d6d6;
    height: 10.2em;
    width: 100%;
}
.navbar-static-top {
   background: #660000 !important; /* Old browsers */ 
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #660000 0%, #660000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#660000), color-stop(100%,#660000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #660000 0%,#660000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #660000 0%,#660000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #660000 0%,#660000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #660000 0%,#660000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660000', endColorstr='#660000',GradientType=0 ); /* IE6-8 */
    border-bottom: 20px solid #d6d6d6;
    height: 10.2em;
    width: 100%; 
}
.navbar-inner {
    background: #660000 !important; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #660000 0%, #660000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#660000), color-stop(100%,#660000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #660000 0%,#660000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #660000 0%,#660000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #660000 0%,#660000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #660000 0%,#660000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660000', endColorstr='#660000',GradientType=0 ); /* IE6-8 */
    border-bottom: 20px solid #d6d6d6;
    height: 10.2em;
}
/* ==========================================================================
   Top Message
   ========================================================================== */
    #topMessage h1 {
        margin-top: 2em;
        font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", Times, serif;
        font-size: 2em;
    }

/* ==========================================================================
   Main Form Container / General Form Elements
   ========================================================================== */
    .formContainer {
        background: #ececec;
        border-radius: 1em;
        padding: 2em;
    }
    .progress {
        margin: 0 auto;
        width: 50%;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .requiredValue {
        color: #ff0000;
    }
/* ==========================================================================
   Javascript Disabled
   ========================================================================== */
    .jsDisabled {
        display: none;
    }
/* ==========================================================================
   Step 1 — One Time Gift or Recurring Gift?
   ========================================================================== */
    .centerButtons {
        margin: 0 auto;
        width: 60%;
        max-width: 100%;
    }
/* ==========================================================================
   Step 3 — To where would you like to designate your gift?
   ========================================================================== */
    .indented {
        padding-left: 2em;
    }

/* ==========================================================================
   Giving Form Controls
   ========================================================================== */
    .paginationBTN {
        border:0;
        padding:0 30px;
        height:3em;
        line-height:30px;
        text-align:center;
        font-size:.75em;
        color:#fff;
        text-shadow:#4f0000 0 1px 0;
        background:#7f0000;
        -moz-border-radius:50px;
        -webkit-border-radius:50px;
        border-radius:50px;
        margin-top: 1em;
        cursor:pointer;
        -moz-box-shadow: 0 1px 2px #999;
        -webkit-box-shadow: 0 1px 2px #999;
        max-width: 50%;
    }
    .paginationBTN:hover {
        border:0;
        padding:0 30px;
        height: 3em;
        line-height:30px;
        text-align:center;
        font-size:.75em;
        color:#fff;
        text-shadow:#4f0000 0 1px 0;
        background:#c69500;
        -moz-border-radius:50px;
        -webkit-border-radius:50px;
        border-radius:50px;
        cursor:pointer;
        max-width: 50%
    }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Large desktop */
@media (min-width: 1200px) {
    .centerButtons {
        margin: 0 auto;
        width: 60%;
        max-width: 100%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding: 0;
    }
    /*But we want the content to not touch the edges*/
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .centerButtons {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    /*Remove extranious padding so our header extends across*/
    body {
        padding: 0;
    }
    /*But we want the content to not touch the edges*/
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .centerButtons {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 620px) {
    /*Remove extranious padding so our header extends across*/
    body {
        padding: 0;
    }
    /*But we want the content to not touch the edges*/
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin: 0;
    }
    .centerButtons {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin: 0;
    }
    .centerButtons {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
}